* {
  padding: 0%;
  margin: 0%;

}
.mypage-content{
  background-color : #72FFFF;
  height: 100%;
}
.page-header{
  border: 1px solid black;
  border-radius: 10px;
  background-color:#3B0270;
  padding: 10px;
  margin: 2px;
  text-align: center;
  font-size: 35px;
  color: #E9B3FB;
}
.left-navbar{
  display: flex;
  flex-direction: row-reverse;
}
.page-navbar a:hover{
  color:#ff4824
}
.page-navbar{
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #7505ad;
  padding: 10px;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  justify-content:space-between;
}
.page-navbar a{
  text-decoration: none;
  color:#FFF1F1;
}

#nav-education{
  margin-bottom: 50%;
}
#nav-internship{
  margin-bottom: 100%;
}
#nav-project{
  margin-bottom: 90%;
}
.page-detail{
  font-size: 25px;
  background-color: #ebc1f8;
  border:2px solid #f04545;
  border-radius: 10px;
  padding: 30px;
  margin: 2px;
  width: 100%;
}
#page-object{
  padding: 10px;
  color:rgb(68, 31, 31) ;
  justify-content:space-evenly;
}
#page-education{
  padding: 10px;
  color:rgb(68, 31, 31) ;
}
#page-internship{
  padding: 10px;
  color:rgb(68, 31, 31) ;
}

#page-project{
  padding: 10px;
  color:rgb(68, 31, 31) ;
}
.page-footer{
  background-color: #2e0059;
  color: #FFF1F1;
  height: 50px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.page-footer a{
  color: #FFF1F1;
  text-decoration: none;

}
#nav-object{
  margin-top:40%;
}