*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'facebook';
	src: url("/home/uday-kumar/Documents/repo/Training/FACEBOOK/facebook-sans/FacebookSansRegular.ttf");
}
.quotation{
	margin-top: 170%;
	width: 280px;
	font-size: 30px;
	font-family: 'facebook';
	
}
.quotation h1{
	line-height: 66px;
}
.left-left{
	width: 33%;
}
.make-highlight{
	color: #0000ff;
}
#login_page_logo{
	padding: 1px;
}
#login_page_logo img{
	height: 60px;
	width: 60px;
	margin-top: 16%;
	margin-left: 2%;
}
.login-page-image{
	width: 67%;
	margin-right: 100px;
}
.login-page-image img{
	width: 890px;
	height: 890px;
	padding: 0px 0px 0px 0px ;
	margin-right: 200px;
	
}
.mypage-body{
	display: flex;
	/* padding: 10px; */
	/* margin: 10px; */
}
.left-part{
	padding-left: 40px;
	width: 62%;	
	display: flex;
	border-right: 2px solid rgb(214, 213, 213);
}
.login{
	align-items: center;
	margin-top: 11%;
	margin-left:5px ;
	/* border: 1px solid black; */
	padding: 20px;
	text-align: center;
	width: 38%;
}

.login h3{
	text-align: left;
	margin-left: 25px;
	font-family: 'facebook';
}
.login a{
	align-items: center;
	text-decoration: none;
	color: black;
	margin-left: 20px;
	font-family: 'facebook';
}
#login_name{
	width: 89%;
	padding: 10px;
	border: 1px solid rgb(140, 137, 137);
	border-radius: 15px; 
	height: 37px;  
	margin: 10px;
}
#login_password{
	padding: 10px;
	width: 89%;
	border: 1px solid rgb(121, 119, 119);
	border-radius: 15px;
	margin: 10px;
	height: 37px;
	margin: 10px;
}
input::placeholder {
    transition: 0.2s;
}

input:focus::placeholder {
    transform: translateY(-12px);
    font-size: 11px;
}
.login-button{
	width: 93%;
	border-radius: 30px;
	padding: 12px;
	margin: 10px;
	background-color: rgb(69, 69, 254);
	color: azure;
	font-size: 17px;
}
.create-account-button{
	width: 93%;
	border: 1px solid blue;
	border-radius: 30px;
	padding: 15px;
	margin: 50px 10px 10px 10px;
	font-size: 15px;
	color: blue;
	background-color:white;
}
.my-footer{
	margin: 20px 0px 0px 20%;
	/* text-align:center; */
	/* justify-content: left; */
	align-items: center;
	padding: 10px;
	line-height: 30px;
}
.my-footer a{
	padding:5px ;
	text-decoration: none;
	color: black;
	


}
