*{
	padding: 0;
	margin: 0;
	margin:3px; 
}
.my-title {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 45px;

}
.my-title a {
	color: white;
	text-decoration: none;
	height: 100%;   
}
.my-title a:hover {
	color: #ffcc00;
}   
.my-address {
	font-size: 25px;
	margin-bottom: 20px;
	background-color: #6c59d9;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	height: auto;
	color: white;
	margin: 10px;
}
.my-address p {
	margin: 10px 0;
}   
.my-friends {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 34px;
	margin-left:10px; 

}
.my-friends a { 
	color: white;
	text-decoration: none;
	height: 100%;
} 
.my-friends a:hover {
	color: #ffcc00;
}
.my-update {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;  
	margin-left:10px; 
}  
.my-update a {
	color: white;
	text-decoration: none;
	height: 100%;
}
.my-home {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;  
	margin-left:10px; 
}
.my-home a {        
	color: white;
	text-decoration: none;
	height: 100%;
}   
.my-post-title{
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 34px;
	margin-left:10px; 
}
.my-post-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	padding: 10px;
	margin: 10px;
}
.my-post-table th, .my-post-table td {
	border: 1px solid #ccc;
	padding: 10px;
	color: rgb(74, 6, 175);
	margin: 10px;  
	background-color: #dedbf2;   
}
.my-post-table td{
	
	font-size: 25px;
}
.my-post-table th {
	background-color: #6c59d9;
	color: white;
	font-weight:bold;
	font-size:26px;
}