*{
	padding:0;
	margin:0;
}
.my-form-title {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 34px;

}

.update-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;  
	margin: 10px; 
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	background-color: #f2f2f2;
}
.update-form input:focus {
	outline: none;
	border-color: #007BFF;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.update-form label {
	font-size: 16px;
	margin-bottom: 5px;
	display: block;
}
.update-form button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px;
}
.update-form {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.my-home {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;  
}
.my-home a {
	color: white;
	text-decoration: none;
	height: 100%;
}
#back-to-profile {
	font-size: 24px;
	margin-bottom: 20px;
	background-color: #0c0e6f;
	padding: 10px;
	align-items: center;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: white;  
}
#back-to-profile a {
	color: white;
	text-decoration: none;
	height: 100%;
}